@font-face {
    font-family: GNUUnifont;
    src: url(assets/fonts/unifont_jp-17.0.03.otf);
}

body {
    background-color: black;
    background-image: url("assets/images/haniwa-keikou-warrior.png");
}

img {
    image-rendering: pixelated;
}

#draggable {
    position: absolute;
}