* {
    image-rendering: pixelated;
}

body {
    min-height: 100vh;
    overflow: hidden;

    background-color: rgb(0, 0, 0);
    background-image: url("assets/images/bg.gif");
    background-position: center center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}